body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: default;
    /*cursor: none;*/
    font-family: sans-serif;
}

#rotateMessage {
    position: absolute;
    top: 0;
    left: 0;
    background-color: aqua;
    font-size: 18px;
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.scroll-container {
    display: flex;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden; /* Disable vertical scrolling */
    scroll-behavior: smooth;
}

.screen-width {
    flex: 1;
    min-width: 100vw;
    height: 100vh;
    background-color: #f0f0f0;
    box-sizing: border-box;
    overflow: hidden;
    white-space: normal;
    position: relative;
    padding: 5rem 50px 3.5rem;
}

#navbar {
    width: 100vw;
    height: 5rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    z-index: 220;
    /*background: #f0f0f0;*/
}

/*#circleCursor {
    position: absolute;
    top: -100px;
    left: -100px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid black;
    z-index: 100;
    transition: width 0.3s ease, height 0.3s ease;
}*/

#navbar #menu {
    padding: 2rem;
    font-weight: bold;
    font-family: sans-serif;
    border: 0;
    font-size: 1.25rem;
    background: transparent;
}

#menu-section {
    width: 100vw;
    height: 100vh;
    z-index: 210;
    position: absolute;
    /*background: #f0f0f0;*/
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    background: #000;
    color: #f0f0f0;
    transition: bottom 0.5s ease;
    bottom: 100vh;
}

#menu-section h1 {
    font-size: 6rem;
    font-weight: lighter;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#menu-section h1 a{
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

#menu-section h1:hover {
    color: yellow;
}

#logo {
    width: 50px;
    height: 50px;
    margin-left: 1rem;
    margin-top: 0.5rem;
}

#logo svg {
    fill: black;
    width: max-content;
    height: max-content;
    stroke-width: 20px;
    animation: textstroke 4s infinite alternate;
}

/*
.cursorBig {
    cursor: none;
    position: relative;
}

.cursorBig::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    min-width: 70px;
    min-height: 70px;
    border-radius: 50%;
    opacity: 0;
    !*background: rgba(0, 0, 0, 0.31);*!
    transition: opacity 0.3s ease;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

.cursorBig:hover::after {
    opacity: 1;
}*/


.titleSection {
    position: relative;
    padding-top: 10px;
    border-bottom: 2px solid black;
}

.titleSection h1 {
    position: relative;
    z-index: 2;
    font-weight: normal;
    font-size: 3rem;
    padding: 0;
    margin: 0;
}

#home-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

#home-section h1 {
    font-size: 7.5vw;
    text-align: center;
    margin-top: 0;
}

#home-section h1:first-child {
    letter-spacing: 2vw;
    margin-bottom: 0;
}

#home-section h1:nth-child(2) {
    margin-top: 0;
    margin-bottom: 0;
    color: transparent;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    /* letter-spacing: -1vh; */
}

#home-section #button-section {
    width: 100%;
    height: 5vw;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
}

#home-section #button-section button {
    border: 2px solid black;
    /*border-radius: 999px;*/
    padding: 1rem;
    height: max-content;
    color: black;
    width: max-content;
}

#home-section #button-section button:hover {
    border: 2px solid #f0f0f0;
    background-color: black;
    color: #f0f0f0;
}

.content-section {
    padding-top: 2rem;
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
}

.content-section div {
    margin-bottom: 2rem;
}

.content-section div h2 {
    width: max-content;
    text-decoration: underline black;
}

/*Keyframe for skills*/

@keyframes skillSlider {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.stack {
    padding: 60px 0;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    z-index: 200;
}

.skill-slide {
    display: inline-block;
    animation: 25s skillSlider infinite linear;
}

.stack:hover .skill-slide {
    animation-play-state: paused;
}

.skill-slide img {
    height: 50px;
    margin: 0 40px;
}

/*end animation and about me*/

.projects {
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    /*z-index: 200;*/
}

.project-slide {
    display: inline-block;
    animation: 20s skillSlider infinite linear;
}

.projects:hover .project-slide {
    animation-play-state: paused;
}

.project {
    width: 300px;
    height: 450px;
    background: gray;
    display: inline-block;
    margin-left: 10px;
}


footer {
    /*background: black;*/
    padding-left: 50px;
    /*padding-right: 60px;*/
    border-top: 2px solid black;
    width: 100vw;
    height: 3rem;
    position: fixed;
    bottom: 0;
    left: 0;
    color: black;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

footer ul {
    text-decoration: none;
    list-style: none;
    margin-right: 85px;
}

footer ul li {
    display: inline-block;
    padding-right: 4px;
}

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 480px) {
    #about-me p {
        font-size: 10px;
    }
}
